{% extends "base.jinja" %}
{% block content %}

{% for book in all_books %}
<div class="book">
    <div class="content">
        {{book.title}}
        <div class="genre">
            {{book.genre}}
        </div>
        <div class="author">
            {{book.author.name}}
        </div>
        <form class="form-inline" action="/books/{{ book.id }}" method="">
            <input type="submit" value="View book">
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}